#phishing-detector-ko {
    color: red;
    padding: 5px;
    margin: 5px;
    border: 3px dotted hotpink;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#phishing-detector-ok {
    color: green;
    padding: 5px;
    margin: 5px;
    border: 3px dotted hotpink;
    font-size: x-large;
    text-align: center;
}

#button-info-ko {
    margin-left: 10px;
}