#phishing-detector-ko {
    color: red;
    padding: 5px;
    margin: 5px;
    border: 3px dotted hotpink;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#phishing-detector-ok {
    color: green;
    padding: 5px;
    margin: 5px;
    border: 3px dotted hotpink;
    font-size: x-large;
    text-align: center;
}

#button-info-ko {
    margin-left: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}